<header >

    <!--<nav class="green lighten-2 row">-->
        <!--<div class="col s3"></div>-->
        <!--<div class="nav-wrapper col s9">-->
            <!--<ul id="nav-mobile" class="right hide-on-med-and-down">-->
                <!--<li><a href="/aboutMe">About Me</a></li>-->
                <!--<li><a href="/projects">Projects</a></li>-->
                <!--<li><a href="/Skills">Skills</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="col s3"></div>-->
    <!--</nav>-->
</header>

<main>
    <div class="imageWrapper">
        <div class="filterLayer"></div>
        <!--<img class="landingPageImage" src="assets/img/bg_landingPage.jpg">-->
    </div>
    <div class="welcomeSection">
        <div class="greeting">
            <span>Hello, <br> I am a Software-Engineer!</span>
        </div>
    </div>
    <div class="aboutMe section row">
        <div class="dummy col s0 m0 l3"></div>
        <div class="col s12 m12 l6">
            <div class="sectionHeader">About Me</div>
            <div class="sectionContent">
                <div class="row">
                    My name is Markus Petrykowski and I am a developer and Software-Engineer from Berlin.
                    If you want to get in touch with me just drop me a message.
                </div>
                <div class="row mailAddress">contact@markus-petrykowski.de</div>
            </div>
        </div>
        <div class="dummy col s0 m0 l3"></div>
    </div>
    <div class="projects section row">
        <div class="dummy col s0 m2 l3"></div>
        <div class="col s12 m8 l6">
            <div class="sectionHeader">Projects</div>
            <div class="sectionContent row">

                <div class="projectCard col s12 m6 l4">
                    <div>
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="assets/img/wooden.jpg">
                                <img class="logo activator" src="assets/img/intelliq_logo.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">intelliQ</span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4"><i class="fa fa-times"></i></span>
                                <p>
                                    An intelligent enqueueing system to make waiting more comfortable <br>
                                    <a href="http://www.intelliQ.me" target="_blank">www.intelliQ.me</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projectCard col s12 m6 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="assets/img/wooden.jpg">
                            <img class="logo activator" src="assets/img/n2o_logo.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Noise to Opportunity</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="fa fa-times"></i></span>
                            <p>
                                Creating leads from social media <br>
                                <a href="https://explorer.n2o.social" target="_blank">Noise to Opportunity</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="projectCard col s12 m6 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="assets/img/wooden.jpg">
                            <img class="logo activator" src="assets/img/n2o_logo.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">N2O App</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="fa fa-times"></i></span>
                            <p>
                                Creating leads from social media <br>
                                <a href="https://explorer.n2o.social" target="_blank">N2O App</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="projectCard col s12 m6 hide-on-large-only">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="assets/img/wooden.jpg">
                            <img class="logo activator" src="assets/img/github_logo.svg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">More to come</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="fa fa-times"></i></span>
                            <p>
                                For further projects check out my github page <br>
                                <a href="https://github.com/sittenstrolch" target="_blank">Github</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="dummy col s0 m2 l3"></div>
    </div>
    <div class="skills section row">
        <div class="dummy col s0 m1 l3"></div>
        <div class="col s12 m10 l6 ">
            <div class="sectionHeader">Skills</div>
            <div class="sectionContent row">
                <div class="skillItem col s6 m4 l4">
                    <a href="https://angularjs.org/" target="_blank">
                        <div class="skillItemIcon">
                            <img src="assets/img/angular_icon.svg">
                            <span>AngularJS</span>
                        </div>
                    </a>

                </div>
                <div class="skillItem col s6 m4 l4">
                    <a href="https://nodejs.org/" target="_blank">
                        <div class="skillItemIcon">
                            <img src="assets/img/node_icon.svg">
                            <span>NodeJS</span>
                        </div>
                    </a>

                </div>
                <div class="skillItem col s6 m4 l4">
                    <a href="https://learnboost.github.io/stylus/" target="_blank">
                        <div class="skillItemIcon">
                            <img src="assets/img/stylus_icon.png">
                            <span>Stylus</span>
                        </div>
                    </a>

                </div>
                <div class="skillItem col s6 m4 l4">
                    <a href="https://www.apple.com/de/swift/" target="_blank">
                        <div class="skillItemIcon">
                            <img src="assets/img/swift_icon.svg">
                            <span>Swift</span>
                        </div>
                    </a>

                </div>
                <div class="skillItem col s6 m4 l4">
                    <a href="#">
                        <div class="skillItemIcon">
                            <img src="assets/img/javascript_icon.svg">
                            <span>JavaScript</span>
                        </div>
                    </a>

                </div>
                <div class="skillItem col s6 m4 l4">
                    <a href="#">
                        <div class="skillItemIcon">
                            <img src="assets/img/CSS3_Logo.svg">
                            <span>CSS3</span>
                        </div>
                    </a>

                </div>
            </div>
        </div>
        <div class="dummy col s0 m1 l3"></div>
    </div>

    <div class="skills section row green lighten-2">
        <div class="dummy col s0 m3"></div>
        <div class="col s12 m6 white-text text-left">
            <span >© 2015 Copyright Markus Petrykowski</span>
        </div>
        <div class="dummy col s0 m3"></div>
    </div>
</main>

