//variables

//COLORS
primaryColor = #1a77c1
secondaryColor = #42a91b
thirdColor = #3c3c3c

acceptColor = #42a91b
forwardColor = #e1960f
rejectColor = #D50909
forwardColor = #E1A108

acceptColorHover = #3e7f1b
primaryColorHover = #155587
rejectColorHover = #A80303
forwardColorHover = #BF8908

//foundationAcceptColor = #43AC6A
//foundationAccepHoverColor = #368a55
//foundationRejectColor = #f04124
//foundationRejectHoverColor = #cf2a0e

highlightColor = #e5e5e5
hoverColor = #f5f5f5
lineColor = #e5e5e5

//Sizes
barHeight = 3rem
barHeightMobile = 3rem
iconHeight = 2rem
logoHeight = 5rem

//FONTS
fontSecondary = sans-serif
fontPrimary = 'Ubuntu'